.input-file {
    display: none;
  }
  
  .loading {
    height: 200px;
    width: 300px;
  }
  
  img.upload {
    height: 80px;
    width: 100px;
    cursor: pointer;
  }

  .picture{
      width: 200px;
      height: 100px;
  }